.SiteWrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 25px;
    width: 100%;
}

.Home {
    margin: 0 auto;
    max-width: 640px;
}

.Home h1 {
    text-align: center;
    text-transform: capitalize;
}

.WeatherInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.WeatherInfo_Image {
    flex-basis: 50%;
    font-size: 100px;
}

.WeatherInfo_Data {
    flex-basis: 50%;
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureTemp {
    font-size: 140px;
    font-weight: bold;
    line-height: 140px;
    margin: 0;
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureLabel {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;

}

.OtherTemperatures p {
    margin: 25px auto;
    font-size: 24px;
    line-height: 24px;
}

.Header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.CitiesNav {
    display: flex;
}

.CitiesNav a {
    border-bottom: 1px solid transparent;
    color: #000000;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    text-decoration: none;
    transition: border-bottom 500ms ease;
}

.CitiesNav a:hover {
    border-bottom: 1px solid black;
}

.CitiesNav .active {
    color: cadetblue;
}

.WeatherWrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 10px 25px 20px 25px;
    width: 100%;
}

/*body {*/
    /*font-size: 16px;*/
/*}*/

/*main {*/
    /*font-size: 24px;*/
/*}*/

/*div {*/
    /*font-size: 1.5rem;*/
    /*line-height: 1rem;*/
/*}*/